# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# visual studio
.vscode

# huge folder with sample data
data/

# Twitter dev account credentials
src/main/resources/credentials.txt

# drafts
src/main/java/drafts/